* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

.go-to {
  cursor: pointer;
  text-decoration: underline;
}

#wrapper {
  .page-main {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 50px;

    header {
      text-align: center;
      font-size: 4em;
      padding: 10px;
    }

    main {
      ul {
        width: 100%;

        li {
          font-size: 1.1em;
          font-weight: bold;
          text-decoration: underline;
          text-align: center;
          margin-bottom: 10px;
        }
      }

      img {
        height: 20px;
      }
    }

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
  }

  .page {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    border-bottom: 2px solid black;

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 3em;
      }
    }

    main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px auto 50px;
      margin: 10px;

      h2 {
        width: 100%;
        text-align: center;
      }

      .info-blocks-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .info-blocks {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
          font-size: 1.5em;

          div {
            margin: 10px;
          }

          :nth-child(odd) {
            font-weight: bold;
            color: darkblue;
            text-align: right;
          }
        }
      }
    }
  }
}
